---
title: Organizers
layout: default
hide: false
weight: 4
---

<h1>{{ site.conference.name }} {{ site.conference.year }} Organizing Committee</h1>

{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}


<h3>Senior Program Committee</h3>
  <ul>
    <li>Akshay Krishnamurthy    (Univ. of Massachusetts, Amherst) </li>
    <li>Alex    Dimakis    (Univ. of Texas, Austin)</li>
    <li>Ambuj    Tewari    (Univ. of Michigan, Ann Arbor)</li>
    <li>Amir    Globerson    (Tel Aviv University) </li>
    <li>Andriy    Mnih    (Google Deepmind) </li>
    <li>Anima Anandkumar (Univ. of California, Irvine) </li>
    <li>Aryeh    Kontorovich    (Ben-Gurion Univ.)</li>
    <li>Bharath    Sriperumbudur    (Pennsylvania State Univ.)</li>
    <li>Brian    Kulis    (Boston Univ.)</li>
    <li>Byron    Boots    (Georgia Tech.)</li>
    <li>Chris Williams    (University of Edinburgh)</li>
    <li>Claire    Monteleoni  (George Washington Univ.)</li>
    <li> Cosma    Shalizi    (Carnegie Mellon Univ.)    </li>
    <li>Daniel Lee    (Univ. of Pennsylvania)</li>
    <li>Daniel    Hsu    (Columbia Univ.)</li>
    <li>David    Duvenaud   (Univ. of Toronto)</li>
    <li>Dino    Sejdinovic    (Oxford Univ.)</li>
    <li>Ery    Arias-Castro    (Univ. of California, San Diego)</li>
    <li>Feiping    Nie (Univ. of Texas, Arlington)</li>
    <li>Francesco    Orabona    (Yahoo)</li>
    <li>Garvesh    Raskutti (Univ. of Wisconsin, Madison)</li>
    <li>Hongyuan    Zha    (Georgia Tech.)</li>
    <li>Iain    Murray    (Univ. of Edinburgh)</li>
    <li>James    Zou    (Microsoft Research)</li>
    <li>Joan    Bruna    (Univ. of California, Berkeley)</li>
    <li>John    Paisley    (Columbia Univ.)</li>
    <li>Joseph    Gonzalez    (Univ. of California, Berkeley)</li>
    <li>Jun    Zhu    (Tsinghua Univ.)</li>
    <li>Kamalika Choudhary (Univ. of California, San Diego)</li>
    <li>Karthik    Sridharan (Cornell Univ.)</li>
    <li>Koby    Crammer    (Technion)</li>
    <li>Kun    Zhang    (Carnegie Mellon Univ.)</li>
    <li>Laura    Balzano    (Univ. of Michigan, Ann Arbor)</li>
    <li>Lawrence    Murray    (Oxford Univ.)</li>
    <li>Le    Song    (Georgia Tech.)</li>
    <li>Lihong    Li    (Microsoft Research)</li>
    <li>Marina    Meila (Univ. of Washington, Seattle)</li>
    <li>Mark    Davenport    (Georgia Tech.)</li>
    <li>Masashi    Sugiyama  (Univ. of Tokyo)</li>
    <li>Matt    Harrison    (Brown Univ.)</li>
    <li>Matthias    Seeger    (Amazon)</li>
    <li>Maxim Raginsky    (Univ. of Illinois, Urbana Champaign)</li>   
    <li>Michael    Mahoney    (Univ. of California, Berkeley)</li>
    <li>Mladen Kolar    (Univ. of Chicago)</li>
    <li>Nati    Srebro    (Toyota Technological Institute, Chicago)</li>
    <li>Po-Ling Loh (Univ. of Wisconsin, Madison)</li>
    <li>Raman    Arora (Johns Hopkins Univ.)</li>
    <li>Remi    Munos (INRIA)</li>
    <li>Rene    Vidal (Johns Hopkins Univ.)</li>
    <li>Rob    Nowak (Univ. of Wisconsin, Madison)</li>
    <li>Roger    Grosse    (Univ. of Toronto)</li>
    <li>Ryan    Adams    (Harvard Univ.)</li>
    <li>Ryan    Tibshirani (Carnegie Mellon Univ.)</li>
    <li>Sahand    Negahban (Yale Univ.)</li>
    <li>Samory    Kpotufe    (Princeton Univ.)</li>
    <li>Sanjoy    Dasgupta (Univ. of California, San Diego)</li>
    <li>Scott    Yih (Microsoft Research)</li>
    <li>Shai    Ben-David (Univ. of Waterloo)</li>
    <li>Sinead    Williamson (Univ. of Texas, Austin)</li>
    <li>Sivaraman    Balakrishnan (Carnegie Mellon Univ.)</li>
    <li>Stefano     Ermon     (Stanford Univ.)</li>
    <li>Steve    Hanneke (independent)</li>
    <li>Steven    Hoi (Singapore Management Univ.) </li>
    <li>Sujay    Sanghavi    (Univ. of Texas, Austin)</li>
    <li>Tong    Zhang    (Rutgers Univ.)</li>
    <li>Vikas    Sindhwani    (Google)</li>
    <li>Vinayak    Rao    (Purdue Univ.)</li>
    <li>Volkan    Cevher    (EPFL)</li>
    <li>Xuanlong    Nguyen    (Univ. of Michigan, Ann Arbor)</li>
    <li>Yudong    Chen    (Cornell Univ.)</li>
    <li>Zhi-Hua    Zhou    (Nanjing Univ.)</li>
    <li>Zoltan    Szabo    (Univ. College, London)</li>
  </ul>

